:root {
  --primary-color: #96f7e4;
  --secondary-color: #9fc3f7;
  --complementary-color: #ffda9b;
  --triadic-color: #ffc29b;
  --text-color: #1B1140;
  --gray-color: #77728F;
  /////////////////////////
}
